{{ define "admin/login/login.html" }}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>用户登录</title>  
	<link rel="stylesheet" href="/static/admin/css/login.css"> 
    <script type="text/javascript" src="/static/admin/bootstrap/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/static/admin/js/login.js"></script>
   </head>
<body style="background-image: url('../../../static/admin/images/backg.png');background-repeat: no-repeat;background-position: center center;">
<div class="container">
        <div id="login">
                <form action="/admin/doLogin" method="post" id="myform">                    
                    <input type="hidden" name="captchaId" id="captchaId">
                    <div class="l_title" style="color: rgb(255, 103, 0);">小米商城后台管理系统</div>
                    <img src="../../../static/admin/images/logo.png" alt="logo" style="position: absolute;height: 200px;width: 200px;margin-left: 500px;">
                    <dl>
                        <dd>管理员姓名：<input class="text" type="text" name="username" id="username"></dd>
                        <dd>管理员密码：<input class="text" type="password" name="password" id="password"></dd>
                        <dd>验　证　码：<input id="verify" type="text" name="verifyValue">
                            <img id="captchaImg" src="">
                         </dd>			
                        <dd><input type="submit" class="submit" name="dosubmit" value=""></dd>			
                    </dl>
                </form>
            </div>
</div>

</body>
</html>

{{end}}