.sspin{
  position: absolute;
  top: 790px;
}

.shopwei{
 margin-left: -13px;
 font-size: 22px;
  
}

.shopwei2{
  margin-left: 100px;
  font-size: 16px;
}
.chakan{
  color: black;
}
.chakan:hover{
  color: rgb(255, 103, 0);
}

.cardst{
  
  width: 180px;
  height: 180px;
}

.cardst:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translateY(-2px) ;
  filter: drop-shadow(#c7c9c9 0 1px);
  transition: 300ms;
}